      <div class="nav-container">
        <nav class="nav-menu">
          <a href="/" class="site-logo-div">
            <i class="fab fa-blogger site-logo"></i>
          </a>
          <ul>
            <li>
              <a class="nav-item button" href="/">
                <span class="nav-icon"><i class="fas fa-home"></i></span>
                <span class="nav-text">Home</span>
              </a>
            </li>
            <li>
              <a class="nav-item button" href="#">
                <span class="nav-icon"><i class="fas fa-search"></i></span>
                <span class="nav-text">Search</span>
              </a>
            </li>
            <li>
              <a class="nav-item button" href="/chat">
                <span class="nav-icon"><i class="far fa-comment"></i></span>
                <span class="nav-text">Messages</span>
              </a>
            </li>
            <li>
              <a class="nav-item button" href="#">
                <span class="nav-icon"><i class="fas fa-cog"></i></span>
                <span class="nav-text">Settings</span>
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <div id="theme-toggle-button" class="button nav-item" href="#">
                <span class="nav-icon"><i class="fas fa-toggle-on"></i></span>
                <span class="nav-text">Swap Theme</span>
              </div>
            </li>
            <li>
              <div id="menu-toggle-button" class="button nav-item" href="#">
                <span class="nav-icon"><i class="fas fa-grip-lines"></i></span>
                <span class="nav-text">Close</span>
              </div>
            </li>
          </ul>
        </nav>
      </div>
