      <div class="content-wrapper">
        <div class="chats-overview">
          <ul>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text"
                  >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Omnis odio eum quam. Aliquam delectus itaque fugiat beatae
                  libero ullam minus!</span
                >
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>

            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
            <li class="message-preview">
              <div>
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                />
              </div>
              <div class="message-details">
                <span class="message-sender">Jane Doe</span>
                <span class="message-text">Hello, John</span>
              </div>
            </li>
          </ul>
        </div>
        <dir class="chat-div">
          <ul class="chat-list">
            <li>
              <div class="message outgoing"><span class="message-span">Hello, Jane</span></div>
            </li>
            <li>
              <div class="message outgoing"><span class="message-span">How are you?</span></div>
            </li>
            <li>
              <div class="message incoming">
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                /><span class="message-span">Hello, John</span>
              </div>
            </li>
            <li>
              <div class="message incoming">
                <img
                  class="avatar-icon"
                  src="img/placeholders/avatar_placeholder.webp"
                  alt=""
                /><span class="message-span">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum beatae quas labore maiores tenetur! Omnis doloribus, quisquam pariatur quibusdam suscipit odit eos voluptatibus quos sapiente, recusandae alias voluptatum? Doloribus, nobis possimus provident quia hic maiores ipsam omnis ad magni quam. Aliquam voluptatibus natus error, architecto nisi quidem, eveniet nulla quam, expedita eum tempora recusandae? Suscipit error, vero excepturi, saepe repellat atque, aliquid nisi quos ab explicabo assumenda. Sunt eaque ea, velit excepturi enim aliquid qui rerum eos, in voluptatem veniam optio eum deserunt natus inventore. Mollitia nulla qui sed accusamus voluptas voluptatem, hic, et autem illo eveniet quibusdam, ea maiores?</span>
              </div>
            </li>
          </ul>
          <textarea class="message-input" id="message-input" cols="30" rows="10"></textarea>
        </dir>
      </div>
