      <div class="content-wrapper">
        <div class="post">
          <div class="post-header">
            <a href="/" class="author">
              <img
                class="avatar-icon"
                src="img/placeholders/avatar_placeholder.webp"
                alt=""
              />
              Author</a
            >
            <span>3 days ago</span>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At illum
              distinctio iure quibusdam, autem culpa, fugit aperiam fuga
              reprehenderit consectetur repellendus pariatur. Voluptates
              officiis molestias nostrum laboriosam laborum assumenda molestiae
              laudantium inventore iusto possimus eligendi minus, beatae iste
              dolorem. Vel!
            </p>
          </div>
          <div class="user-ratings">
            <div class="rating-div">
              <i class="far fa-thumbs-up"></i><span>14</span>
            </div>
            <div class="rating-div">
              <i class="far fa-thumbs-down"></i><span>2</span>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-header">
            <a href="/" class="author">
              <img
                class="avatar-icon"
                src="img/placeholders/avatar_placeholder.webp"
                alt=""
              />
              Author</a
            >
            <span>3 days ago</span>
          </div>
          <div class="post-image-wrapper">
            <img
              class="post-image"
              src="img/placeholders/big_image_post_placeholder.webp"
              alt=""
            />
          </div>
          <div class="user-ratings">
            <div class="rating-div">
              <i class="far fa-thumbs-up"></i><span>14</span>
            </div>
            <div class="rating-div">
              <i class="far fa-thumbs-down"></i><span>2</span>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-header">
            <a href="/" class="author">
              <img
                class="avatar-icon"
                src="img/placeholders/avatar_placeholder.webp"
                alt=""
              />
              Author</a
            >
            <span>3 days ago</span>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. At illum
              distinctio iure quibusdam, autem culpa, fugit aperiam fuga
              reprehenderit consectetur repellendus pariatur. Voluptates
              officiis molestias nostrum laboriosam laborum assumenda molestiae
              laudantium inventore iusto possimus eligendi minus, beatae iste
              dolorem. Vel!
            </p>
          </div>
          <div class="user-ratings">
            <div class="rating-div">
              <i class="far fa-thumbs-up"></i><span>14</span>
            </div>
            <div class="rating-div">
              <i class="far fa-thumbs-down"></i><span>2</span>
            </div>
          </div>
        </div>
        <div class="post">
          <div class="post-header">
            <a href="/" class="author">
              <img
                class="avatar-icon"
                src="img/placeholders/avatar_placeholder.webp"
                alt=""
              />
              Author</a
            >
            <span>3 days ago</span>
          </div>
          <div class="post-image-wrapper">
            <img
              class="post-image"
              src="img/placeholders/image_post_placeholder.webp"
              alt=""
            />
          </div>
          <div class="user-ratings">
            <div class="rating-div">
              <i class="far fa-thumbs-up"></i><span>14</span>
            </div>
            <div class="rating-div">
              <i class="far fa-thumbs-down"></i><span>2</span>
            </div>
          </div>
        </div>
      </div>
